a, a > code {
  color: #DF691A;
  text-decoration: none;
  background-color: transparent;
}

code {
  font-size: 87.5%;
  color: #8d9dad;
  word-break: break-word;
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.table tbody + tbody {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.table .table {
  background-color: #2B3E50;
}
.remark-code-line-highlighted { background-color:#2B3E50; }

.hljs-github .hljs {
    background: #2B3E50;
}

.footnote {
    color: #888888;
    position: fixed;
    top: 85%;
    left: 0;
    text-align: right;
    width: 90%;
}

/* .remark-slide-content {
   background-color: #2B3E50;
 } */

blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #8d9dad;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.inverse {
  background-color: #2B3E50;
  text-shadow: none;
}

.right-column {
  width: 75%;
  float: right;
}

/* Add image and change bg color */
.title-slide {
  background-image: url(https://raw.githubusercontent.com/RushingLab/rushinglabslides/master/img/logo/usu-logo.png);
  background-position: 15% 15%;
  background-size: 200px;
  background-color: #2B3E50;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}


/* H1 fonts */
.title-slide h1 {
  padding-top: 200px;
  font-weight: normal;
  font-size: 45px;
/*  line-height: 0.05;*/
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
}
